* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
}

.container {
  width: 1170px;
  margin: auto;
}

.header {
  width: 100%;
  height: 768px;
  background-image: url(../images/header_bg.jpg);
}
.header .navigation {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header .navigation .logo {
  width: 200px;
  height: 100px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
}
.header .navigation .nav_list {
  width: 700px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header .navigation .nav_list .nav_item {
  list-style: none;
}
.header .navigation .nav_list .nav_item .nav_link {
  font-size: 13pt;
  font-weight: bold;
  line-height: 17px;
  color: white;
  opacity: 0.75;
  padding: 10px 15px;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.header .navigation .nav_list .nav_item .nav_link:hover, .header .navigation .nav_list .nav_item .nav_link:focus {
  background-color: rgba(9, 9, 37, 0.3);
  opacity: 1;
  box-shadow: 0 0 10px white;
}

.header_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: auto;
  height: 100%;
}
.header_body .line {
  width: 100%;
  margin-top: 60px;
}
.header_body .text1 {
  margin-top: 100px;
  font-size: 65px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}
.header_body .text2 {
  text-align: center;
  font-size: 22pt;
  font-weight: normal;
  line-height: normal;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 64px;
}
.header_body .btn-primary {
  margin-top: 64px;
  width: 200px;
  height: 45px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #0fdf0f;
  font-size: 13pt;
  font-weight: bold;
  line-height: 16px;
  color: #33b319;
  opacity: 0.8;
  border-radius: 3px;
  transition: all 0.4s ease;
}
.header_body .btn-primary:hover {
  background-color: #13a513;
  color: white;
  box-shadow: 0 0 10px yellow;
}

.sectionbox1 {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
  height: 755px;
  cursor: pointer;
  margin-top: 100px;
}
.sectionbox1 .icon_box {
  width: 390px;
  height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.sectionbox1 .icon_box .icon {
  margin-top: 30px;
  display: block;
  width: 150px;
  height: 150px;
  color: #f4a2a2;
  font-size: 140px;
  text-align: center;
  font-weight: 300;
}
.sectionbox1 .icon_box .icon_name {
  margin-top: 12px;
  font-size: 14pt;
  font-weight: bold;
  line-height: normal;
  text-align: center;
}
.sectionbox1 .icon_box .icon_info {
  margin-top: 10px;
  font-size: 14pt;
  font-weight: normal;
  line-height: normal;
  text-align: center;
}
.sectionbox1 .icon_box:hover, .sectionbox1 .icon_box:focus {
  box-shadow: 0 0 10px rgba(12, 122, 12, 0.5);
  background-image: linear-gradient(to right, rgba(32, 255, 2, 0.1) 10%, rgba(9, 82, 9, 0.1) 30%, rgba(36, 121, 109, 0.1) 100%);
  transition: all 0.3s ease-in-out;
}

.sectionbox2 {
  margin-top: 100px;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  justify-content: auto;
  align-items: auto;
}
.sectionbox2 .img {
  position: relative;
  width: 380px;
  height: 350px;
  margin: 1px;
  cursor: pointer;
}
.sectionbox2 .img img {
  width: 100%;
  height: 100%;
}
.sectionbox2 .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  background-color: rgba(177, 33, 33, 0.7);
  opacity: 0;
}
.sectionbox2 .img:hover .shadow {
  opacity: 1;
  transition: all 0.4s ease;
}

.sectionbox3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
  margin-top: 100px;
}
.sectionbox3 .user_card {
  width: 280px;
  padding: 5px;
  height: 585px;
}
.sectionbox3 .user_card .user_image {
  width: 270px;
  height: 270px;
}
.sectionbox3 .user_card .user_name {
  margin-top: 30px;
  font-size: 22pt;
  font-weight: bold;
  line-height: normal;
  color: #454749;
}
.sectionbox3 .user_card .job {
  margin-top: 15px;
  color: #e84545;
  font-size: 13pt;
  font-weight: bolder;
  line-height: normal;
}
.sectionbox3 .user_card .user_info {
  font-size: 14pt;
  font-weight: 300;
  line-height: normal;
  margin-top: 30px;
}
.sectionbox3 .user_card .SM {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  width: 100%;
  height: 40px;
  margin-top: 15px;
}
.sectionbox3 .user_card .SM .SM-item {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.sectionbox3 .user_card .SM .SM-item .SM-link {
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #b8b0b0;
  text-align: center;
  font-size: 30px;
  color: #d8caca;
}
.sectionbox3 .user_card .SM .SM-item .SM-link:hover {
  color: #070927;
  border: 2.5px solid rgba(9, 16, 58, 0.6);
}
.sectionbox3 .user_card:hover {
  box-shadow: 0 0 10px rgba(12, 122, 12, 0.5);
  background-image: linear-gradient(to right, rgba(32, 255, 2, 0.1) 10%, rgba(9, 82, 9, 0.1) 30%, rgba(36, 121, 109, 0.1) 100%);
  transition: all 0.3s ease-in-out;
}

.sectionbox4 {
  margin-top: 100px;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sectionbox4 .person_img {
  width: 50%;
  height: 100%;
}
.sectionbox4 .person_img .per_img {
  width: 100%;
  height: 500px;
}
.sectionbox4 .person_date {
  padding-left: 100px;
  background-color: #53354a;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.sectionbox4 .person_date .goal {
  width: 520px;
  font-size: 30px;
  font-weight: bold;
  line-height: normal;
  font-style: italic;
  color: white;
}
.sectionbox4 .person_date .author {
  margin-top: 25px;
  font-size: 13pt;
  font-weight: bold;
  line-height: normal;
  color: white;
}
.sectionbox4 .person_date .radios {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 40px;
  padding: 10px;
  background-color: transparent;
  list-style: none;
}
.sectionbox4 .person_date .radios .radio {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 5px;
  background-color: #755d6d;
  cursor: pointer;
  transition: all 0.4s ease;
}
.sectionbox4 .person_date .radios .radio:hover {
  background-color: white;
  box-shadow: 0 0 4px white;
}

.sectionbox5 {
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sectionbox5 .ques {
  font-size: 28pt;
  font-weight: bold;
  line-height: normal;
}
.sectionbox5 .txt_q {
  font-size: 13pt;
  font-weight: 500;
  line-height: normal;
  margin-top: 50px;
}
.sectionbox5 .btn-secondary {
  margin-top: 50px;
  width: 280px;
  height: 50px;
  outline: none;
  border: none;
  background-color: rgba(236, 52, 52, 0.8);
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14pt;
  font-weight: bold;
  line-height: normal;
}
.sectionbox5 .btn-secondary:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
}

.footer {
  background-color: #3a3e64;
}

.footer1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer1 .footer_item {
  width: 33.3%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer1 .footer_item .main_txt {
  font-size: 14pt;
  font-weight: bold;
  line-height: 30pt;
  color: white;
}
.footer1 .footer_item .txt {
  color: #afb0bc;
  margin: 10px 10px 10px 0;
}
.footer1 .footer_item .footer_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer1 .footer_item .footer_list .footer_list_item a {
  display: block;
  width: 40px;
  height: 40px;
  border: 3px solid white;
  margin: 10px 10px 10px 0;
  font-size: 30px;
  text-align: center;
  color: white;
}
.footer1 .footer_item .footer_list .footer_list_item a:hover {
  color: rgba(181, 206, 21, 0.7);
  border-color: rgba(181, 206, 21, 0.7);
  box-shadow: 0 0 10px green;
  transition: all 0.3s ease;
}

.footer2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #313454;
  height: 90px;
}
.footer2 .text {
  width: 280px;
  text-align: center;
  color: #77787b;
  font-size: 14pt;
  font-weight: bold;
  line-height: normal;
}
.footer2 .text .heard {
  color: white;
}

/*# sourceMappingURL=style.css.map */
