.footer2{
    @include d-flex(row, center,center);
    background-color: #313454;
    height: 90px;
    .text{
        width: 280px;
        text-align: center;
        color: #77787b;
        @include txt(14pt,bold, normal);
        .heard{
            color: white;
        }
    }
}
