.sectionbox5{
    height: 340px;
    @include d-flex(column,center,center);
    
    .ques{
        @include txt(28pt,bold,normal);
    }

    .txt_q{
        @include txt(13pt,500,normal);
        margin-top: 50px;
    }
    .btn-secondary{
        margin-top: 50px;
        width: 280px;
        height: 50px;
        outline: none;
        border: none;
        background-color: rgb(236, 52, 52,0.8);
        color: white;
        cursor: pointer;
        @include d-flex(column,center,center);
        @include txt(14pt,bold,normal);
    }
    .btn-secondary:hover{
        background-color: white;
        color: red;
        border: 1px solid red;
    }
}
