.sectionbox2{
    margin-top: 100px;
    height:700px; 
    @include d-grid(4, 2fr,auto,auto);
    .img{position: relative;
       width: 390px;
       height: 350px;
       margin: 1px;
       cursor: pointer;
       img{
           width: 100%;
           height: 100% ;
       }
    }
    .shadow{
        position:absolute;
        width: 100%;
        height: 100%;
        @include d-flex(column,center,center);
        color: white;
        font-weight: bold;background-color:rgb(177, 33, 33, 0.7);
        opacity: 0;
    }
    .img:hover .shadow{
        opacity: 1;
        transition: all .4s ease;
    }
}
