.sectionbox1{
    @include d-grid(3 , 2fr, center, center);
    grid-gap: 30px;
    height: 755px;
    cursor: pointer;
    margin-top: 100px;

    .icon_box{
        width: 390px;
        height: 370px;
        @include d-flex(column,flex-start,center); 

        .icon{ 
            margin-top: 30px;
            display: block;   
            background-image: url(../images/header_bg.jpg);
            width: 150px;
            height: 150px;
            background-color: blue;
            color: #2d3033;
        }
        .icon_name{
            margin-top: 12px;
            @include txt(14pt,bold,normal);
            text-align:center
        }
        .icon_info{
            margin-top: 10px;
            @include txt(14pt,normal,normal);
            text-align: center;
        }
    }
    .icon_box:hover,.icon_box:focus{
        box-shadow: 0 0 10px rgb(12, 122, 12, 0.5);
        background-image:linear-gradient(to right, rgba(32, 255, 2, 0.1) 10% , rgb(9, 82, 9, 0.1) 30%, rgb(36, 121, 109, 0.1) 100%) ;
        transition: all .3s ease-in-out;
        
    }
    
}
