*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

///////////////////components/////////////////////
$h:100vh;
@mixin  d-flex ($fd, $jc, $ait){
    display: flex;
    flex-direction:$fd ;
    align-items: $ait;
    justify-content: $jc;
}

@mixin  txt ($fs, $fwe, $lh){
    font-size: $fs;
    font-weight: $fwe;;
    line-height: $lh;
}
@mixin d-grid($x, $y, $jc, $ait){
    display: grid;
    grid-template-columns: repeat($x, $y);
    justify-content:  $jc;
    align-items: $ait;
}

///////////////////components end/////////////////////

.container{
    width: 1170px;
    margin: auto;

}



@import "header";
@import "sectionbox1";
@import "sectionbox2";
@import "sectionbox3";
@import "sectionbox4";
@import "sectionbox5";
@import "footer1";
@import "footer2";


